 <!DOCTYPE css>
<html>
<body>
header {} 

body {background-color:lightcyan;} 

nav { 
border: 2px solid navy; /* You can customize the color by changing #000 (black) */
padding: 15px; /* Optional: Add padding for better visual appearance */
text-align: center;
display: flex
} 

h1 {color:navy;
    text-align:left;> } 

h2 {text-align:left;} 

ul {color:navy;left }
</body>
</html>